<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Estilos de la documentación no son necesarios -->
  <link rel="stylesheet" href="styles.css">

  <!-- Para que anden los carouseles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">

  <!-- Esto es necesario para que no se vean las cosas hasta que este todo cargado -->
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>

  <style>
    .preview{
      width: 300px;
    }
  </style>

  <title>Ciudadela</title>
</head>

<body ng-app="ciudadelaApp" ng-cloak="wapi">
  <section>
    <h2>La papa está en el código fuente ;)</h2>
  </section>

  <section>
    <h2>Linea de productos: Tom</h2>
    <h3>
      Atributos utilizados: w-get, ng-init, ng-show, ng-click, ng-src, ng-repeat
    </h3>

    <section w-get="'/products/Tom'" ng-init="selected.product=false">

      <div ng-show="selected.product" class="framed">
        <button ng-click="selected.product=false">Cerrar</button>
        <h4>
          Producto {{selected.product.Articulo}}
        </h4>
        <div>
          {{selected.pictureURL}}
        </div>

        <div>
          <img ng-src={{(selected.variedad||selected.product.Variedad[0]).Miniaturas[0].url}} class="thumbnail" alt="">

          <li ng-repeat="variedad in selected.product.Variedad" ng-click="selected.variedad=variedad">
            <img ng-src={{variedad.Miniaturas[0].url}} alt="" class="thumbnail-small">
          </li>
        </div>
      </div>

      <div class="grid">
        <article ng-repeat="product in data.results" class="framed preview">
          <h2>Articulo <span ng-bind="product.Articulo"></span></h2>
          <div class="carrousel">
            <img ng-src={{product.Variedad[0].Miniaturas[0].url}} class="thumbnail" alt="" ng-click="selected.product=product;selected.variedad=false">

            <div slick="true" infinite=true slides-to-show=3 slides-to-scroll=3 >
              <div ng-repeat="variedad in product.Variedad">
                <img ng-src={{variedad.Miniaturas[0].url}} alt="" class="thumbnail-small">
              </div>
            </div>

          </div>
        </article>
      </div>

    </section>
  </section>

  <section>
    <h2>Suscripción a newsletter</h2>
    <h3>
      Atributos utilizados: w-form, ng-submit, ng-model, ng-show
    </h3>
    <form w-form="subscribe" ng-submit="submit()">
      <fieldset>
        <label>Email</label>
        <input ng-model="data.email">
      </fieldset>

      <div ng-show="sending">
        Enviando
      </div>

      <fieldset>
        <button class="submit">Enviar</button>
      </fieldset>

      <div ng-show="submitted"> Great </div>
      <div ng-show="fail"> :( </div>
    </form>
  </section>

  <section>
    <h2>Contacto para revendedores</h2>
    <h3>
      Atributos utilizados: w-form, ng-submit, ng-model, ng-show
    </h3>
    <form w-form="contact-reseller" ng-submit="submit()">
      <fieldset>
        <label>Nombre</label>
        <input ng-model="data.firstname">
      </fieldset>

      <fieldset>
        <label>Apellido</label>
        <input ng-model="data.lastname">
      </fieldset>

      <fieldset>
        <label>Código postal</label>
        <input ng-model="data.postalcode">
      </fieldset>

      <fieldset>
        <label>Email</label>
        <input ng-model="data.email">
      </fieldset>

      <fieldset>
        <label>Telefono</label>
        <input ng-model="data.phone">
      </fieldset>

      <div ng-show="sending">
        Enviando
      </div>

      <fieldset>
        <button class="submit">Enviar</button>
      </fieldset>

      <div ng-show="submitted"> Great </div>
      <div ng-show="fail"> :( </div>
    </form>
  </section>


  <!--  -->
  <!--  -->
  <!-- Scripts -->
  <!-- Todos estos son necesarios para que funcione wapi-->
  <!--  -->

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>

  <!-- Slick - carousel -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-slick-carousel/3.1.7/angular-slick.min.js" charset="utf-8"></script>





  <!-- WAPI. Usar uno de los dos. -->

  <!-- WAPI Para local -->
  <script src="http://localhost:9888/ciudadela/browser/ng-wapi.js" ></script>
  <!-- WAPI para prod (webflow) -->
  <script src="https://waaws-api.herokuapp.com/ciudadela/browser/ng-wapi.js"></script>

  <script>
    angular.module('ciudadelaApp',['ngWapi','slickCarousel']);
  </script>


</body>
</html>
