<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rivets/0.9.4/rivets.bundled.min.js" charset="utf-8"></script>
  <title>Credility</title>
</head>
<body ng-app="ngWapi" ng-cloak="waaws">

  <section>
    <h2>Login</h2>
    <p>Probar con marce@waaws.space / admin1234 </p>
    <form w-form="auth" ng-submit="submit()" login-form="true" on-response-redirect="'./credility.html'">

      <fieldset>
        <label>Email</label>
        <input type="text" ng-model="data.email" />
      </fieldset>

      <fieldset>
        <label>Password</label>
        <input type="password" ng-model="data.password" />
      </fieldset>

      <fieldset>
        <button>Enviar</button>
      </fieldset>

      <div ng-show="sending">
        Enviando
      </div>
      <div ng-show="submitted">
        Great
      </div>
      <div ng-show="fail">
        :(
      </div>
      <!-- Also, we have the server response in a 'response' object -->
      <div>
        {{response}}
      </div>
    </form>
  </section>

  <section>
    <h3>Logout</h3>
    <div>
      <button ng-click="logout('')">Salir</button>
    </div>
  </section>

  <section>
    <h2>Perfil</h2>
    <h4>Los datos estan disponibles dentro del contexto del w-get</h4>

    <section w-get="'/notificaciones'">
      <h3>Notificaciones</h3>
      <div ng-repeat="notificacion in data">
        {{notificacion.Notes}}
      </div>
    </section>

    <div w-get="'/me'">

      <section>
        <h2>Creditos Activos</h2>
        <div ng-repeat="activo in data.Creditos | filter:{ Estado:'Activo' }">
          {{activo.Monto}}
        </div>
      </section>
      <section>
        <h2>Redes</h2>
        <div>
          <script type="text/javascript" id="__fs-widget">
            var __lc = {};
            __lc.application = 1287;
            __lc.borrowerIdentifier = undefined; // your borrower identifier ex. from database
            __lc.lang = undefined;
            __lc.buttonText = "Score yourself";

            (function() {
                var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
                lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.friendlyscore.com/widgets.js?app='+__lc.application;
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
            })();
          </script>
        </div>
      </section>

      <section>
        <h2>Creditos Historial</h2>
        <div ng-repeat="activo in data.Creditos | filter:{ Estado:'Finalizado' }">
          {{activo.Monto}}
        </div>
      </section>

      <section>
        <h3>Linea</h3>

        <div ng-repeat="credito in data.creditosByType">
          Nombre: {{credito.name}}
          <div style="width:300px; border:solid 2px black">
            <div style="background-color:red; width:{{credito.monto*100/credito.linea}}%; height:30px;">&nbsp;</div>
          </div>
          Monto: {{credito.monto}}
          Linea: {{credito.linea}}
        </div>
      </section>

      <section>
        <form w-form="responsable" ng-submit="submit(data.Responsable[0])">

          <h2>Responsable</h2>
          <div>
            <h4>Nombre:</h4>
            <input type="text" ng-model="data.Responsable[0]['Nombre']" />
          </div>
          <br>
          <div>
            <h3>Responsable entero</h3>
            <div>
              {{data.Responsable[0]}}
            </div>
          </div>
          <br>
          <div>
            <button>Enviar</button>
          </div>
        </form>
      </section>

      <section>
        <form w-form="/directores" replace-entire-scope="true" json="true" ng-submit="submit(data.Directores)">
          <div ng-repeat="director in data.Directores">
              <h2>Director</h2>

              <div>
                <h4>Nombre:</h4>
                <input type="text" ng-model="director['Nombre Completo']" />
              </div>

              <div>
                <h4>Documento:</h4>
                <input type="text" ng-model="director['Documento']" />
              </div>

              <div>
                <h4>JSON</h4>
                {{director}}
              </div>
          </div>

          <div>
            <button type="button" ng-click="data.Directores.push({})">Nuevo Director</button>
          </div>
          <div>
            <button>Enviar</button>
          </div>
        </form>
      </section>

      <section>
        <h3>Proximo vencimiento</h3>
        <div>
          <div>
            <h4>{{data.nextPayment.Fecha}}</h4>
            <h4>{{data.nextPayment.Linea.Calificacion}}</h4>
            <h4>{{data.nextPayment.Monto}}</h4>
          </div>
          <div>
            {{data.nextPayment}}
          </div>
        </div>
      </section>

      <section>

        <form w-form="me" ng-submit="submit()">
          <h2>Datos Empresa</h2>
          <div>
            <h4>Razón Social:</h4>
            <input type="text" ng-model="data['Razón Social']" />
          </div>
          <br>
          <div>
            <button>Enviar</button>
          </div>
        </form>

        <br> <br>
        <div>
          <h4>Data</h4>
          <div> {{data}} </div>
        </div>

      </section>

      <form w-form="files" ng-submit="submit()">
        <section>
          <h3>Ultimos estados contable</h3>
          <div>
            <img ng-src={{data.Uploads[0].Attachments[0].url}} width="300" alt="">
          </div>
          <button file name="last-state">Pic</button>
        </section>

        <section>
          <h3>Poderes</h3>
          <button file name="poderes">Pic</button>
        </section>

        <section>
          <h3>Acta directorio</h3>
          <button file name="acta-directorio-vigente">Pic</button>
        </section>

        <div>
          <button>Enviar</button>
        </div>

        <div ng-show="sending"> Enviando </div>
        <div ng-show="submitted"> Great </div>
        <div ng-show="fail"> :( </div>

        <!-- Also, we have the server response in a 'response' object -->
        <div>
          {{response}}
        </div>
      </form>
    </div>


  </section>

  <section>
    <h2>Enviar mail para generar o regenerar password</h2>
    <form w-form="send-password-email" ng-submit="submit()">
      <fieldset>
        <input type="email" ng-model="data.email" value="test@test.com" />
        <button>Enviar</button>
      </fieldset>
      <div ng-show="sending">
        Enviando
      </div>
      <div ng-show="submitted">
        Great
      </div>
      <div ng-show="fail">
        :(
      </div>
      <!-- Also, we have the server response in a 'response' object -->
      <div>
        {{response}}
      </div>
    </form>
  </section>

  <section>
    <h2>Crear o regenerar una contraseña a partir de un email</h2>
    <p>Para probar entrar a localhost:8080/credility.html?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6Im1hcmNlQHdhYXdzLnNwYWNlIiwiaWQiOiJyZWNoRjZVdWswQzQyamZWcCIsImlhdCI6MTQ4MjI3MzczNH0.NMvld7Sj1cmBI1Ke22woG1nx1ICnl-O34oed-jf_GsQ&email=marce@waaws.space</p>
    <form w-form="new-password" ng-submit="submit()" ng-init="data.token=wLocation.query.token; data.email=wLocation.query.email">
      <label>token from url</label>
      <input type="text" ng-model="data.token">
      <label>email from url</label>
      <input type="text" ng-model="data.email">
      <fieldset>
        <label>Password</label>
        <input type="password" ng-model="data.password" />
      </fieldset>
      <fieldset>
        <button>Enviar</button>
      </fieldset>
      <div ng-show="sending">
        Enviando
      </div>
      <div ng-show="submitted">
        Great
      </div>
      <div ng-show="fail">
        :(
      </div>
      <!-- Also, we have the server response in a 'response' object -->
      <div>
        {{response}}
      </div>
    </form>
  </section>

  <section>
    <h2>Redirect URL para Meli APP</h2>
    <p>Modificar el redirect_uri de meli a https://waaws-api.herokuapp.com/credility/api/v1/meli-tokens/</p>
    <form>
      <h3>URLs</h3>
      <p>http://auth.mercadolibre.com.ar/authorization?response_type=code&client_id=6883898513739091&redirect_uri=https://waaws-api.herokuapp.com/credility/api/v1/meli-tokens/?token={{accessToken}}</p>
      <a target="_blank" ng-href="{{'http://auth.mercadolibre.com.ar/authorization?response_type=code&client_id=6883898513739091&redirect_uri=https://waaws-api.herokuapp.com/credility/api/v1/meli-tokens/?token=' + accessToken}}">Link</a>
    </form>
  </section>


  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

  <!-- WAPI. Usar uno de los dos. -->
  <!-- WAPI Para local no subir este cacho a producción -->
  <script src="http://localhost:9888/credility/browser/ng-wapi.js" ></script>
  <!-- WAPI para prod -->
  <script src="https://waaws-api.herokuapp.com/credility/browser/ng-wapi.js"></script>
</body>
</html>
